.Title {
	text-align: center;
}

.success {
	color: green;
	text-align: center;
}

.error {
	color: red;
	text-align: center;
}

.cassette {
	margin: 0px auto;
	display: block;
	border-radius: 10%;
	margin-bottom: 5px;
}

.text {
	text-align: center;
}

#password {
	margin: 0px auto;
	display: block;
	border-radius: 10%;
	margin-top: 5px;
}

.login {
	margin: 0px auto;
	display: block;
}

#sign-up {
	text-align: center;
}

#video {
	top: 0;
	left: 0;
	z-index: 0;
	position: relative;
	transform: scaleX(-1);
	display: block;
	margin: 0 auto;
}

#canvas {
	display: none;
}

#button {
	display: block;
	margin: 0 auto;
}

#image {
	display: block;
	margin: 0 auto;
	top: 0;
	left: 0;
	z-index: 0;
}

#overlay {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 28%;
	z-index: 1;
}

.div {
	position: relative;
}

.center {
	text-align: center;
}
 #list {
	 display: inline-block;
	 margin: 0 auto;
 }

 #refresh {
	 display: inline-block;
	 margin: 0 auto;
 }
